.godo-navbar {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  height: 45px;
}

.godo-navbar__list {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 16px;
  width: 100%;
}

.godo-navbar__item {
  align-items: center;
  display: flex;
  height: 100%;
}

.godo-navbar__item > a {
  color: inherit;
  text-decoration: none;
}

.godo-navbar__title {
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 1024px) {
  .godo-navbar__list {
    padding: 0;
  }
}
