{{define "header.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GODO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/navbar/navbar.css">
    <link rel="stylesheet" href="/public/css/task/task.css">
  </head>
  <body>
    <nav class="godo-navbar">
      <ul class="godo-navbar__list">
        <li class="godo-navbar__item">
          <a class="godo-navbar__title" href="/">GODO</a>
        </li>
      </ul>
    </nav>
{{end}}
