{{define "index.html"}}
    {{template "header.html" .}}
    <main class="godo-task__container">
      <h1 class="godo-task__title">Today <sub>Sat apr 3</sub></h1>

      <ul class="godo-task__list">
        {{range .Tasks}}
        <li class="godo-task__item" data-id="{{.ID}}">
          <input class="godo-task__checkbox" type="checkbox" {{if .Completed}}checked{{end}} />
          <span class="godo-task__text">{{.Description}}</span>
        </li>
        {{end}}
      </ul>

      <form method="POST">
        <textarea class="godo-task__input" rows="2" id="description" name="description">{{.Description}}</textarea>

        <div class="godo-task__buttons">
          <button class="godo-task__button godo-task__button--primary" type="submit">Add task</button>
          <button class="godo-task__button" type="reset">Cancel</button>
        </div>
      </form>
    </main>
    {{template "footer.html" .}}
{{end}}
