{{define "index.html"}}
    {{template "header.html" .}}
    <main class="godo-task__container">
      <h1 class="godo-task__title">Today <sub>Sat apr 3</sub></h1>

      <ul class="godo-task__list">
        {{range .Data}}
        <li class="godo-task__item" data-id="{{.ID}}">
          <input class="godo-task__checkbox" type="checkbox" {{if .Completed}}checked{{end}} />
          <span class="godo-task__text">{{.Description}}</span>
        </li>
        {{end}}
      </ul>
    </main>
    {{template "footer.html" .}}
{{end}}
